html {
font-family: 'Maven Pro', sans-serif;
font-size: 80%;
}

/* body of the page will be a flex container, with queries to go from column on mobile to more grid-based on desktop */

body {
    display: flex;
    flex-flow: column nowrap;
    max-width: 960px;
    margin: auto;
}

/* 
*
Top level of the page - using CSS Grid so I can place/size the logo, name and title elements along a 2-d grid 
*
*/

header {
    width: 100%;
    order: -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
}

.logo_container {
    grid-column: 1/2;
    grid-row: 1/4;
    align-self: center;
}

#logo {
    width: 100px;
    height: auto;
    padding: 5px;
}

.name {
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 2.05em;
    justify-self: end;
    align-self: center;
    color: black;
    margin-right: 2px;
}

.title {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 1.25em;
    justify-self: end;
    margin-right: 2px;
}

/* featured work at the bottom - it will be its own flex container to align images and text elements */

article {
    display: flex;
    flex-flow: column;
    max-height: 300px;
}

.featured_work {
    width: 100%;
    order: 1;
}

.featured_header {
    width: 100%;
    text-align: center;
    /* box-shadow: 0 4px 2px -2px #5fffd0; */
    padding: .05em;
}

/* the container will hide overflow from the height to create a zoom effect on window resizing */

.showcase_container {
    overflow: hidden;
    max-height: 300px;
}

.showcase_image {
    width: 100%;
    height: auto;
    order: 0;
}

.featured_project_container {
    max-height: 300px;
    overflow: hidden;
}

.project_image {
    width: 100%;
    max-height: 200px;
}

.project_title {
    align-self: center;
}

.project_link {
    align-self: center;
    background-color: #5fffd0;
    color: white;
    padding: .5em 1em;
    width: 100%;
    text-align: center;
    margin: 1em;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

footer {
    order: 10000;
    align-self: center;
    align-content: space-between;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #6d7f7a;
}

@media screen and (min-width: 550px) {
/* the entire featured_work section will become its own flexbox container */
    .featured_work {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
        align-items: flex-end;
    }
/* the individual featured_work_containers will be flex items, wrapping */
    .featured_project_container {
        width: 30%;
    }   
    
    .showcase_container {
        overflow: hidden;
        max-height: 450px;
    }

    article {
        flex-flow: column wrap;
    }

}

.dominant {
    color: #5fffd0;
}

.accent-1 {
    color: #6d7f7a;
}

.accent-2 {
    color: #abffe7;
}